*{
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid red;
}
a:any-link{
    color: blue;
}

body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body h1{
    font-weight: bold;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px; 
       
}
.leftnav{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size:30px ;
}
.left-icon{
    margin-left: 90px;
    background-color: blue;
    opacity: 0.6;
    color: white;
    border-radius: 50%;
    padding: 10px;
}
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px ;
    margin-right: 70px;
    list-style: none;

}
.nav-bar a{
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 20px;
    color: black;
    opacity: 0.5;
}
.nav-bar #blacks{            
    color: black;
    opacity: 1;
}
.fcontainer , .scontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
    width: 100%;
    max-height: fit-content;
    padding: 70px;

}
.leftfcont, .Rscont{
    width: 35%;
    max-height: fit-content;
}
.leftfcont h1,.leftfcont p, .leftfcont .btn{
    margin-top: 50px;
    line-height: 30px;
}
.btn {
    background-color: blue;
    opacity: 0.7;
    color: white;
    font-size: larger;
    border: none;
    padding: 10px 40px;
    border-radius: 30px;
}
.our-service-header{
   text-align: center;
   width: 70%;
   margin: 50px auto;
   line-height: 30px;
   
}
.our-service-cont h1{
    margin-bottom: 30px;
}
.main-service-cont{
    /* border: 1px solid green; */
    max-height: fit-content;
    background-color: whitesmoke;
    
}
.list-cont{
    display: flex; 
    justify-content: center;
    flex: 0 1 auto;
    flex-wrap: wrap;
    width: 82%;
    margin:20px auto;
}

.service , .article{
    background-color: white;
    width: 320px;
    height: 270px;
    margin: 1.05rem;
    padding: 1rem;
    line-height: 1.5rem;
    border-radius: 20px;
}
.service h1, p{
    font-size: 15px;
    margin-top: -10px;
    margin-left: 10px;
}
.service img{
    width: 100px;
}
.our-service-cont .btn, .Rscont .btn-white, .leftfcont .btn-white, .our-latest-cont .btn{
    margin-left: 41%;
    background-color: white;
    border: 1px solid blue;
    color: blue;
}
.Rscont .btn-white, .Rscont h1, .Rscont p,.leftfcont .btn-white {
    margin-top: 50px;
    line-height: 30px;
}
.customer-saying-cont{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    height: fit-content;
    width: 70%;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(81, 119, 243);
    color: white;
    padding: 1.1rem 1em 1.3rem;
}
.blue-color{
    background-color: rgb(81, 119, 243);
    color: white;
    padding: 20px 45px;
    
}
.customer-saying-cont h1 {
    text-align: center;
    margin-bottom: 25px;
}
.customer-saying{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 180px;
    font-size: 0.9rem;
    line-height: 1.4rem;   
}
.customer-identity{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.customer-identity .p{
    display: flex;
    width: 140px;
}
.customer-img{
    height: 90px;
    border-radius: 50%;
    background-color: white;
}
.customer-talk{
    padding: 5%;
    text-align: center;
    width: 100%;
}
.our-latest-cont{
    background-color: whitesmoke;
    width: 100%;
    height: fit-content;
    padding-top: 60px;

}
.our-latest-cont h1{
    text-align: center;
}
.our-latest{
    border: 1px solid green;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin:20px auto;
    padding: 0.51rem;
}
.article{
    height: fit-content;
    /* flex-basis: 100%; */
    flex: 1;
    min-width: 200px;
    /* padding: 1.5%; */

}
.article img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;    
}
.article h4, p, a{
    margin: 4%;
    text-decoration: none;
}
.footer{
   display: flex; 
   justify-content: space-between;
   margin-top: 80px;
   flex-wrap: wrap;
   column-gap: 60px;
   padding: 60px 50px;
}
.Trafalgar{
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    /* flex: 1; */
}
.footer_f{
    display: flex;
    justify-content: space-evenly;
    min-width: 50px;
    flex: 1;
}
.Trafalgar p{
    margin-left: 70px;
    max-width: 289px;
    line-height: 30px;    
}
.white-bg{
    background-color: white;
    color: blue;
}
.bold{
    font-weight: bold;
}
@media(max-width:1113px){
    .header .nav-bar a{
        color: red;
        font-size: 15px;
    }   
    .rightfcont{
        width: 200px;
    }
}
@media(max-width:800px){
    .article{
        color: red;
        font-size: 0.7em;
       

    }
    .article a{
        display: none;
    }
}
@media(max-width:769px){
    .footer{
        flex-direction: column;
        align-items: center;
        flex: 1;
        flex-wrap: wrap;
        
    }
    .footer_f{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.2rem;
        column-gap: 7rem;
    }
}


