@import "tailwindcss";
@tailwind utilities;
@layer components{
  /*utitlity style*/

@keyframes square-in-center {
  from {
    clip-path: inset(100% 100% 100% 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
.animate-square-in-center , .animate-square-out-center { /* This is the class rule */
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-center both;
}

.border_style{
  @apply border-t-2 border-b-2 border-blue-300 rounded-r-3xl rounded-l-4xl rounded-br-3xl

}
a:hover{
  @apply text-sky-300

}
.opacity_dark{
  @apply absolute inset-0 bg-black opacity-45;
}
.center-x-absolute{
  @apply  left-1/2 -translate-x-1/2
}
.center-x-y-absolute{
  @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}
.h1_style{
  @apply mb-5  text-blue-700 font-serif italic text-3xl
}
#hide{
  @apply fixed top-0 left-0 w-full h-full z-35 hidden
}

/*utility style end*/
.sections_container{
  @apply grid grid-cols-1 gap-5
}
.hero_section{
  @apply bg-[url('imgg/hero_3.jpg')] bg-cover bg-center 

        overflow-hidden h-[39rem] max-md:h-[30rem] relative        

}
.up_nav_link{
    @apply flex lg:justify-between items-center py-2 
     w-full  px-15 z-30 sticky  bg-white text-blue-500 
     border-t-5 text-lg max-md:text-sm max-md:font-bold
}
.up_navright{
  @apply flex justify-between gap-30 max-lg:w-full max-lg:pr-20
}
.second{
  @apply max-sm:hidden
}
.social_links{
  @apply max-lg:hidden
}
.hero_nav_bar{
  @apply flex justify-between absolute z-30 w-full px-20 
         md:pr-2  text-gray-700 lg:rounded-b-2xl items-center space-x-20
          py-2 bg-gray-300 shadow-2xl 
}
.logo_text{
  @apply text-xl  font-bold uppercase leading-relaxed
          max-lg:hidden
                
}
.logo_nd_txt img{
  @apply h-20  w-23 max-md:h-15 
}
.logo_nd_txt{
  @apply flex  justify-start  items-center gap-10;

}
.nav_bar{
  @apply flex lg:gap-x-10 font-serif capitalize lg:text-lg 
           max-md:hidden md:text-lg md:gap-x-7
               
}
.hamburger{
  @apply md:hidden 
}
.hamburger i{
  @apply text-blue-600 text-2xl cursor-pointer absolute top-7 right-10    
          
}
#dropMenu{
  @apply absolute top-20 right-0 left-0 bg-gray-200
          text-center text-xl max-lg:top-17    
}
.home{
  @apply bg-gray-700 py-1 px-4 rounded-full 
  border-sky-800 text-white hover:bg-sky-800
  hover:text-black
}
.hero_page_content{
  @apply font-bold text-2xl text-white mt-17 max-md:mt-25
          absolute z-10 text-center  leading-20 max-md:leading-9
          max-lg:text-2xl max-md:text-lg max-md:px-2 max-md:pb-20 
}
.guestname{
  @apply mt-15 max-md:mt-3 py-0  w-sm mx-auto flex justify-between pl-3;
}
.submitname{
  @apply  bg-blue-500 text-white px-2 py-1  rounded;
}
.btn {
  @apply  bg-blue-500  text-lg text-white
          hover:bg-white  hover:text-blue-900 rounded-lg  
          transition duration-100 ease-in-out  max-lg:text-sm
}

.aboutus_section{
  @apply px-5 

}
.about_us_header{
  @apply text-center font-bold text-blue-500 uppercase
         tracking-wider text-xl pb-10
         max-md:text-sm
}
.about_us{
  @apply grid grid-cols-3 gap-5 px-10 max-md:px-2 overflow-hidden 
         max-md:grid-cols-1 max-lg:grid-cols-2 max-md:text-sm
          max-lg:px-3 
         
} 
.first{
  @apply lg:flex lg:flex-col  gap-10  pb-5 border-b-2           
        overflow-hidden hover:border-b-yellow-500 
             
}
.img{
  @apply rounded-xl h-[45vh] 
          bg-no-repeat bg-cover bg-center max-md:h-[150px]; 
}
.img-1{
  @apply bg-[url('imgg/arabiyah-1.jpg')] 
}
.img-2{
  @apply bg-[url('imgg/quran-2.jpg')]
}
.img-3{
  @apply bg-[url('imgg/hadith-3.jpg')]
}
.title{
  @apply text-center text-2xl pb-5 font-extrabold 
         italic  
}
.test{
  @apply text-center max-lg:mb-5
} 
.btn-1 a {
  @apply bg-blue-500 py-2 px-3 text-xl text-white
         hover:border-blue-500 hover:bg-white hover:border-2
         hover:text-blue-500 rounded-xl  transition duration-300 ease-in-out
         max-lg:text-sm 
}
.btn-1{
  @apply block mx-auto
}
.why_choose{
  @apply grid lg:grid-cols-[1fr_3fr_1fr] lg:p-15 gap-5
          max-lg:grid-cols-[5fr_1.5fr] max-lg:p-10 
}
.left_side , .right_side{
  @apply grid lg:grid-cols-1 gap-y-3 
}
.left_side_down, .left_side_up ,
.right_side_up , .right_side_down{
  @apply  bg-gray-200 rounded-r-xl rounded-bl-xl p-5 hover:bg-gray-300
}
.center_side{
  @apply grid lg:grid-cols-2 gap-3 bg-white 
          lg:grid-rows-[1.5fr_1fr_1.5fr] max-md:hidden
}
.center_header1 , .center_header2{
  @apply  rounded-xl overflow-hidden w-full h-full bg-[url('imgg/lamp1.jpg')] bg-no-repeat bg-cover bg-center;
}
.center_header2{
  @apply bg-[url('imgg/koran1.jpg')]
}
.img_one{
  @apply px-5 col-span-2
}
/* .img_two{
  @apply border-red-400 border-2 
} */
.text_two{
  @apply  rounded-2xl;
  
}

.our-service-container{
  @apply py-10 px-20 max-md:px-5
}
.our-service-header{
  @apply mx-auto text-center
}
.our-service-content{
  @apply grid grid-cols-3 gap-x-20 gap-y-10 max-md:grid-cols-1 py-10
         text-center 
}
.service-content{
  @apply shadow-blue-400 shadow-md py-3 hover:scale-x-104 hover:scale-y-104 hover:bg-gray-200 hover:transition-all duration-800 ease-in-out
}
.service-content i,.service-content h1{
  @apply text-blue-700  mb-3 font-serif text-xl max-md:text-sm
}
.service-content i{
  @apply bg-blue-600 text-white border-blue-900 border-b-5 border-t-4
          p-5 max-md:text-sm shadow-gray-600 rounded-t-full
}
.Contact-us_section{
  @apply bg-gray-200 p-10 relative
}
.contact_container{
  @apply grid grid-cols-2 grid-rows-3 gap-5 h-5/6 w-3/5 max-lg:w-full max-lg:px-15  overflow-hidden
   absolute  text-white  max-md:text-sm 
   
}
.contact_header{
  @apply col-span-2 text-center 
}
.contact_body{
  @apply grid row-span-2 
}
.blue_color{
  @apply text-blue-500 font-extrabold tracking-wider
}
.footer_icons{
  @apply bg-white text-blue-600 p-3 mr-5  rounded-full font-extrabold 
}
.contact_body_right{
  @apply bg-white p-5 text-black rounded-2xl text-center
}
.bottom_border_style{
  @apply border-b-2 border-black w-full focus:outline-none focus:border-blue-500 pb-1
}
.submit{
  @apply  mt-5  py-2  bg-blue-500 text-white  text-center w-full
          text-xl hover:border-blue-500 hover:bg-white hover:border-2
         hover:text-blue-500 rounded-xl  transition duration-300 ease-in-out
}
.footer_section{
  @apply px-20 max-md:px-5 sm:px-5 py-5 bg-blue-900 text-white 
}
.up_footer{
  @apply grid lg:grid-cols-4 lg:justify-items-center lg:py-5
  
  md:grid-cols-2 md:justify-items-center 
  
  max-sm:grid-cols-1 max-sm:justify-items-start max-md:gap-6

  max-md:text-sm

  w-full leading-9 
}
.right_border{
  @apply border-l-2 border-white px-3 text-sky-300 capitalize font-extrabold tracking-wider
}
.cont4{
  @apply flex flex-col
}
.fa-brands{
  @apply text-xl max-md:text-sm px-2
}
.down_footer{
  @apply flex justify-between w-full max-md:text-sm
          lg:mt-5 border-t-1 border-t-white pt-5
}

.pop-up{
  @apply bg-white rounded-2xl border-2 border-blue-500 text-lg fixed top-40 right-30 z-50
       max-md:w-3/6 max-md:text-sm max-lg:w-4/6 lg:w-5/6 mx-auto hidden max-lg:top-20
       overflow-hidden text-center p-5 leading-9 max-md:p-2
       
}
.succeffulMessege{
  @apply  bg-white rounded-2xl border-2 border-blue-500 text-lg fixed top-40 right-30 z-50
       max-md:w-3/6 max-md:text-sm max-lg:w-4/6 lg:w-5/6 mx-auto max-lg:top-20
       overflow-hidden text-center p-5 leading-9 max-md:p-2
}

.cancle_btn{
  @apply  absolute z-50 bottom-5 right-5 px-2 bg-blue-500 text-white
           hover:bg-blue-400 rounded transition duration-100 ease-in-out 
}
.changebg{
  @apply absolute z-50 bottom-5 left-15 px-2 bg-blue-500 text-white
           hover:bg-blue-400 rounded transition duration-100 ease-in-out 
           cursor-pointer
}
}

